<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Miaow Labs</h2>
                <hr class="light">
                <p class="text-faded">Was a young man's hobby.Now is a bunch of young people's interest and dream.</p>
                <a href="#services" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
