<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于我们</h2>
                <hr class="light">
                <p class="text-faded">喵呜实验室以“Interest driven innovation”为主旨理念，<br>致力于成为创新型开源硬件项目开拓者，<br>目前开源产品涵盖两轮自平衡小车及微型四轴飞行器。<br>赠人玫瑰，手留余香。<br>少年郎，需要玫瑰吗？</p>
                <a href="http://miaowlabs.com/blog/" class="btn btn-default btn-xl">了解我们</a>
            </div>
        </div>
    </div>
</section>
