<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Miaow Labs</h2>
                <hr class="light">
                <p class="text-faded">A group of young people get together and do something interesting and meaningful.</p>
                <a href="#services" class="btn btn-default btn-xl">都做了啥</a>
            </div>
        </div>
    </div>
</section>
