<div class="small-bs-docs-featurette" id="share">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <p><a class="btn btn-danger"  data-toggle="collapse" data-parent="#accordion" href="#collapse-share" aria-expanded="true" aria-controls="collapse-share">
		分享优惠</a>
         &nbsp;&nbsp;点击分享优惠，扫一扫，购买立减30元
         &nbsp;&nbsp;<a class="btn btn-large btn-danger" href="http://miaowlabs.taobao.com/" target="_blank">淘宝购买</a>
         </p>
      </div>
    </div>


    <div id="collapse-share" class="row panel-collapse collapse">
      <hr class="half-rule">
      <div class="col-sm-6">
        <p>微信扫描下面二维码，分享到朋友圈，截图联系客服立减10元!</p>
        <img src="/img/wechat/wechat_miaowlabs.jpg" alt="Components" class="img-responsive">
      </div>

      <div class="col-sm-6">
        <p>任选以下一篇文章，分享到校园/航模/技术论坛、博客等，再减20元！！</p>
        <ul  class="list-unstyled">
          <li><a href="/wiki/Mwbalanced/open-source-self-balanced.html" target="_blank">Mwbalanced开源自平衡小车</a>（推荐）</li>		 
        </ul>
      </div>
    </div>

  </div>
</div>