<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>两轮自平衡小车 初学者开发套件</h1>
            <hr>
            <p>近期，实验室将持续完善MWbalanced DSK百科&教程，并推进开源四轴飞行器项目。</p>
			<a href="http://miaowlabs.com/wiki-MWbalanced.html#video" class="btn btn-primary btn-xl page-scroll">视频教程</a>
			<a href="http://miaowlabs.taobao.com" class="btn btn-primary btn-xl ">淘宝购买</a>
            <a href="/wiki-MWbalanced.html" class="btn btn-primary btn-xl page-scroll">喵呜百科</a>		
			<a href="/download.html" class="btn btn-primary btn-xl page-scroll">下载中心</a>
        </div>
    </div>
</header>