<!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
			<div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg4.jpg');"></div>
                <div class="carousel-caption">
						<h1 style="color:#000000"></h1>
                        <h1 style="color:#000000">小黑龙</h1> 
						<h4 style="color:#000000">入门经典，廉颇虽老，尚能一战</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=d0355kg0qy4&auto=0" role="button">观看视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="/wiki/Littlebuzz.html" role="button">了解更多</a>	
						<p class="version">当前版本 &nbsp;&nbsp;Rev2.0 &nbsp;&nbsp;<a href="/about/Littlebuzz.html">迭代过程</a> </p>
                </div>
            </div>
			<div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/8051.jpg');"></div>
                <div class="carousel-caption">
                      	<h1></h1>
                        <h1 style="color:#000000">小霸王8051</h1>            
						<h4 style="color:#000000">经典51版，初学者必备</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=q03014ajvi2&auto=0" role="button">操作视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=h0345xr8n40&auto=0" role="button">APP介绍 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="/wiki/Mwbalanced.html" role="button">了解更多</a>
						<a class="btn btn-xl btn-danger" href="/tutoria/Mwbalanced.html" role="button"><i class="fa fa-fire mark-hot"></i>视频教程</a>
						<p class="version">当前版本 &nbsp;&nbsp;Rev2.6 &nbsp;&nbsp;<a href="/about/Mwbalanced.html">迭代过程</a></p>
                </div> 
            </div>
			<div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/rocket.jpg');"></div>
                <div class="carousel-caption">
                      	<h1 style="color:#000000"></h1>
                        <h1 style="color:#000000">蓄势待发只待一飞冲天</h1>            
						<h4 style="color:#000000"></h4>  						
                </div>
            </div>
			<div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg22.jpg');"></div>
                <div class="carousel-caption">
                      	<h1 style="color:#000000"></h1>
                        <h1 style="color:#ffffff">梦想引领未来</h1>            
						<h4 style="color:#000000"></h4> 						
                </div>
            </div>            
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
