<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="keywords" content="喵呜实验室,MiaowLabs,Mwbalanced,Littlebuzz,微型四轴飞行器,两轮自平衡小车" />
   <meta name="description" content="喵呜实验室MiaowLabs，致力于提供物美价廉、物超所值的开源产品，让更多人感知开源的力量，目前产品涵盖两轮自平衡小车及微型四轴飞行器。">
   <meta name="author" content="songyibiao">
   <link rel="shortcut icon" href="/img/icon/miaowlabs.ico">

  <title>喵呜实验室MiaowLabs</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  
  <!-- fancyBox CSS-->
  <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  
  <link href="css/full-slider.css" rel="stylesheet">
 

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>