<!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
			<div class="item active">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg.jpg');"></div>
                <div class="carousel-caption">
                      	<h1 style="color:#000000"></h1>
                        <h1 style="color:#000000"></h1>            
						<h4 style="color:#000000">低成本、高性能、小体积、多扩展</h4>  
						<a class="btn btn-xl btn-primary fancybox-media" href="http://cloud.video.taobao.com/play/u/3108652957/p/1/e/1/t/1/50004816888.swf" role="button">观看视频 <i class="fa fa-play"></i></a>						
						<a class="btn btn-xl btn-primary" href="https://github.com/MiaowLabs/Mwbalanced-STM32-DMP-firmware-none/" role="button">等待开源</a>
						<a class="btn btn-xl btn-primary" href="/faq/Mwbalanced/stm32.html" role="button">了解FAQ</a>
						<a href="https://item.taobao.com/item.htm?spm=a230r.1.14.27.mjrw5q&id=546320361178&ns=1&abbucket=14#detail" class="btn btn-danger btn-xl">立即购买</a>
						<p class="version">最新版本 &nbsp;&nbsp;小霸王Lite STM32 V1.0 &nbsp;&nbsp;&nbsp;&nbsp; Q群 &nbsp;153337261</p>
                </div>
            </div>
			<div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg2.jpg');"></div>
                <div class="carousel-caption">
                      	<h1 style="color:#000000"></h1>
                        <h1 style="color:#000000"></h1>            
						<h4 style="color:#000000">重新定义科研开源平台。</h4> 
						<a class="btn btn-xl btn-primary fancybox-media" href="http://cloud.video.taobao.com/play/u/3108652957/p/1/e/1/t/1/50004830219.swf" role="button">观看视频 <i class="fa fa-play"></i></a>	
						<a class="btn btn-xl btn-primary" href="https://github.com/MiaowLabs/Mwbalanced-STM32-DMP-firmware-none/" role="button">下载代码</a>
						<a class="btn btn-xl btn-primary" href="/faq/Mwbalanced/stm32.html" role="button">了解FAQ</a>
						<a href="https://item.taobao.com/item.htm?spm=a230r.1.14.22.mjrw5q&id=546067379013&ns=1&abbucket=14#detail" class="btn btn-danger btn-xl">立即购买</a>
						<p class="version">最新版本 &nbsp;&nbsp;小霸王 STM32 V2.0 &nbsp;&nbsp;&nbsp;&nbsp; Q群 &nbsp;153337261</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg3.jpg');"></div>
                <div class="carousel-caption">
                      	<h1></h1>
                        <h1></h1>            
						<h4>延续经典，重现8051战斗力。</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=q03014ajvi2&auto=0" role="button">观看视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=h0345xr8n40&auto=0" role="button">APP介绍 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="/wiki/Mwbalanced.html" role="button">了解更多</a>
						<a class="btn btn-xl btn-danger" href="/tutoria/Mwbalanced.html" role="button"><i class="fa fa-fire mark-hot"></i>视频教程</a>
						<a href="https://item.taobao.com/item.htm?spm=a1z10.1-c.w5003-15888246993.1.8ONFyk&id=544714684548&scene=taobao_shop" class="btn btn-danger btn-xl">立即购买</a>
						<p class="version">最新版本 &nbsp;&nbsp;Mwbalanced 8051 V2.6 &nbsp;&nbsp;<a href="/about/Mwbalanced.html">版本历史</a> &nbsp;&nbsp; Q群 &nbsp;153337261</p>
                </div>
            </div>
			<div class="item">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/bg4.jpg');"></div>
                <div class="carousel-caption">
                    <h1 style="color:#000000">Littlebuzz</h1>
                        <h1 style="color:#000000">微型四轴飞行器</h1>            
						<h4 style="color:#000000">源于童年对蓝天白云的好奇和探索，对抗地心引力的小四轴，自主研发的喵呜51飞控，集成充电/下载功能于一体，配备2.4G无线遥控器，飞行稳定，控制灵活，毕设/学习/二次开发必备首选。</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=d0355kg0qy4&auto=0" role="button">观看视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="/wiki/Littlebuzz.html" role="button">了解更多</a>
						<a href="https://item.taobao.com/item.htm?spm=a230r.1.14.1.3maZPx&id=535586350805&ns=1&abbucket=14#detail" class="btn btn-danger btn-xl">正在生产</a>
						<p class="version">最新版本 &nbsp;&nbsp;Littlebuzz 2.0 &nbsp;&nbsp;<a href="/about/Littlebuzz.html">版本历史</a> &nbsp;&nbsp; Q群 &nbsp; 92320720</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
