<!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" data-wrap="true" data-interval="3000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
				<div class="fill"><img src="/img/slide1.jpg" alt="Components" class="img-responsive"></div>
                <div class="carousel-caption">
				    <h1>MWbalanced 2.0</h1>
                    <h2>两轮自平衡小车 初学者学习套件</h2>
					<a href="http://miaowlabs.com/wiki-MWbalanced.html#video" class="btn btn-primary btn-xl">视频教程</a>
					<a href="http://miaowlabs.taobao.com" class="btn btn-primary btn-xl ">淘宝购买</a>
					<a href="/wiki-MWbalanced.html" class="btn btn-primary btn-xl ">喵呜百科</a>		
					<a href="/download-MWbalanced.html" class="btn btn-primary btn-xl ">下载资料</a>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill"><img src="/img/slide2.jpg" alt="Components" class="img-responsive"></div>
                <div class="carousel-caption">
					<h1>Littlebuzz 1.0</h1>
                    <h2>微型四轴飞行器 在逐步开源资料</h2>
					<a href="" class="btn btn-primary btn-xl ">尚未发售</a>
					<a href="/wiki-Littlebuzz.html" class="btn btn-primary btn-xl ">喵呜百科</a>
					<a href="/download-Littlebuzz.html" class="btn btn-primary btn-xl ">下载资料</a>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill"><img src="/img/slide3.jpg" alt="Components" class="img-responsive"></div>
                <div class="carousel-caption">
                    <h2>异形多足机器人</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>