<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top"> -->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<!--data-target="bs-example-navbar-collapse-1"-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">MiaowLabs 喵呜实验室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1"> 
		<!--注释内容-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/index.html">首页</a>
                </li>
                <li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">两轮自平衡小车Mwbalanced<b class="caret"></b></a>
					<ul class="dropdown-menu">
					   <li>
					   <a href="/faq/Mwbalanced.html" target="_blank">FAQ问题</a>
					   </li> 
					   <li>
					   <li>
					   <a href="/wiki/Mwbalanced.html" target="_blank">Wiki百科</a>
					   </li> 
					   <li>
					   <a href="/book/MWbalanced" target="_blank">Book书籍</a>
					   </li> 					    
					   <li>
					   <a href="/download/Mwbalanced.html" target="_blank">DownLoad下载</a>
					   </li> 
					   <li>
					   <a href="/tutoria/Mwbalanced.html" target="_blank"><i class="fa fa-fire mark-hot"></i>Tutoria视频教程</a>
					   </li> 
					</ul>
				</li> 
                <li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">微型四轴飞行器Littlebuzz<b class="caret"></b></a>
					<ul class="dropdown-menu">
					   <li>
					   <a href="/faq/Littlebuzz.html" target="_blank">FAQ问题</a>
					   </li>
					   <li>
					   <a href="/wiki/Littlebuzz.html" target="_blank">Wiki百科</a>
					   </li> 									    
					   <li>
					   <a href="/download/Littlebuzz.html" target="_blank">DownLoad下载</a>
					   </li> 					   
					</ul>
				</li> 																			
				<li>
                    <a href="http://bbs.miaowlabs.com/">论坛</a>
                </li> 
				<li>
                    <a href="#share">分享优惠</a>
                </li> 
				<li class="dropdown"> 
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">购买<b class="caret"></b></a>
				    <ul class="dropdown-menu">
					   <li><a href="https://item.taobao.com/item.htm?spm=a1z10.1-c.w5003-15437861208.1.VeKHkj&id=45100432338&scene=taobao_shop" target="_blank">Mwbalanced 2.1</a></li> 
					   <li><a href="https://item.taobao.com/item.htm?spm=a1z10.5-c.w4002-2178194996.19.O5lRaW&id=535586350805" target="_blank">Littlebuzz 2.0</a></li>					   
				  </ul>
				</li>	
				<li>
					<a href="contact.html">合作</a>
				</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
