<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color: #000000 ; color: #FFFFFFF">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">喵呜实验室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/index.html">首页</a>
                </li>
				<li>
                    <a class="page-scroll" href="/manual.html">试玩指南</a>
                </li> 
                <li>
                    <a class="page-scroll" href="#services">开源项目</a>
                </li> 
				<li>
                    <a class="page-scroll" href="/wiki.html">喵呜百科</a>
                </li>
				<li>
                    <a class="page-scroll" href="/download.html">下载中心</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">联系喵呜</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
