<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top"> -->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<!--data-target="bs-example-navbar-collapse-1"-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">MiaowLabs 喵呜实验室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1"> 
		<!--注释内容-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/index.html">首页</a>
                </li>
                <li>
                    <a href="#services">项目</a>
                </li> 		
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">书籍<b class="caret"></b></a>
					<ul class="dropdown-menu">
					   <li><a href="/book/MWbalanced" target="_blank">开源造车</a></li> 					 			   
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">百科<b class="caret"></b></a>
					<ul class="dropdown-menu">
					   <li>
					   <a href="/wiki-MWbalanced.html" target="_blank">两轮自平衡小车</a>
					   </li> 
					   <li>
					   <a href="/wiki-Littlebuzz.html" target="_blank">微型四轴飞行器</a>
					   </li>   			   
					</ul>
				</li>
				
				<li class="dropdown"> 
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">下载<b class="caret"></b></a>
				    <ul class="dropdown-menu">
					   <li><a href="/download-MWbalanced.html" target="_blank">两轮自平衡小车</a></li> 
					   <li><a href="/download-Littlebuzz.html" target="_blank">微型四轴飞行器</a></li>
				  </ul>
				</li>				
				<li>
                    <a href="http://bbs.miaowlabs.com/">论坛</a>
                </li> 
				<li class="dropdown"> 
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">购买<b class="caret"></b></a>
				    <ul class="dropdown-menu">
					   <li><a href="http://miaowlabs.taobao.com/" target="_blank">套件&零部件</a></li> 
					   <li><a href="https://item.taobao.com/item.htm?spm=a230r.1.14.16.Gzn59M&id=541820603040&ns=1&abbucket=14#detail" target="_blank">视频教程</a></li>
				  </ul>
				</li>	
				<li>
					<a class="fancybox fancybox.iframe" href="donation .html">赞助</a>
				</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
