<div class="small-bs-docs-featurette">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <p><a class="btn btn-outline"  data-toggle="collapse" data-parent="#accordion" href="#collapse-share" aria-expanded="true" aria-controls="collapse-share">
    分享优惠</a>
         &nbsp;&nbsp;点击分享优惠
         &nbsp;&nbsp;<a class="btn btn-large btn-danger" href="http://miaowlabs.taobao.com/" target="_blank">淘宝购买</a>
         </p>
      </div>
    </div>


    <div id="collapse-share" class="row panel-collapse collapse">
      <hr class="half-rule">
      <div class="col-sm-6">
        <p>微信扫描下面二维码，分享朋友圈，截图联系客服立减10!</p>
        <img src="assets/img/qr-2.png" alt="Components" class="img-responsive">
      </div>

      <div class="col-sm-6">
        <p>任选以下一篇博客，分享人人网、校园/技术论坛、博客等，再减10！</p>
        <ul  class="list-unstyled">
          <li><a href="./2015/11/30/about-crazepony.html" target="_blank">MWbalanced2.0开源两轮自平衡小车</a>（推荐）</li>
         
        </ul>
      </div>
    </div>

  </div>
</div>