<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="img/bg.jpg" style="width:100%" data-src=" " alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
						<h1 style="color:#000000">Littlebuzz</h1>
                        <h1 style="color:#000000">微型四轴飞行器</h1>            
						<h4 style="color:#000000">使用51单片机@STC15控制芯片，集成充电/下载功能于一体，稳定灵活的开源微型四轴飞行器</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=d0355kg0qy4&auto=0" role="button">观看视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="http://miaowlabs.com/wiki-Littlebuzz.html" role="button">了解更多</a>
						<a href="https://item.taobao.com/item.htm?spm=a230r.1.14.1.3maZPx&id=535586350805&ns=1&abbucket=14#detail" class="btn btn-primary btn-xl">立即购买</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/bg2.jpg" style="width:100%" data-src="" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                      	<h1>Mwbalanced</h1>
                        <h1>两轮自平衡小车</h1>            
						<h4>Mwbalanced是国内性能最强的51两轮自平衡小车，配备强大的手机端APP，曾作为国内多所职院和高校的电子实习教学平台，并在全国知名网站上以超出预期177%的成绩众筹成功。</h4>
                        <a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=q03014ajvi2&auto=0" role="button">观看视频 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary fancybox-media" href="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=h0345xr8n40&auto=0" role="button">APP介绍 <i class="fa fa-play"></i></a>
						<a class="btn btn-xl btn-primary" href="http://miaowlabs.com/wiki-MWbalanced.html" role="button">了解更多</a>
						<a href="https://item.taobao.com/item.htm?spm=a1z10.1-c.w5003-15437861208.1.DVNavl&id=45100432338&scene=taobao_shop" class="btn btn-primary btn-xl">立即购买</a>               
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->