<div id="myCarousel" class="carousel slide">

   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>  

   <div class="carousel-inner">
      <div class="item active">
         <img src="/img/slide1.jpg" alt="First slide">
         <div class="carousel-caption">
			<div class="header-content-inner">
            <h1>两轮自平衡小车</h1>
            <hr>
            <p>MWbalanced 2.0</p>
			<a href="http://miaowlabs.com/wiki-MWbalanced.html#video" class="btn btn-primary btn-xl page-scroll">视频教程</a>	
			<a href="http://miaowlabs.taobao.com" class="btn btn-primary btn-xl ">淘宝购买</a>
            <a href="/wiki-MWbalanced.html" class="btn btn-primary btn-xl page-scroll">喵呜百科</a>			
			<a href="/download.html" class="btn btn-primary btn-xl page-scroll">下载中心</a>
			</div>
		 </div>
      </div>
      <div class="item">
         <img src="/img/slide2.jpg" alt="Second slide">
         <div class="carousel-caption">
			<div class="header-content-inner">
            <h1>微型四轴飞行器</h1>
            <hr>
            <p>即将开源</p>
			
			</div>
		 </div>
      </div>
   </div>
  
   <a class="carousel-control left" href="#myCarousel"
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel"
      data-slide="next">&rsaquo;</a>
</div>