<section class="bg-primary" id="about">
    <div class="bs-docs-featurette" id="about-us">
		<div class="container">
		<h2 class="bs-docs-featurette-title">视频欣赏</h2>
		<p class="lead">这里将其中的一部分精彩分享给大家。</p>

		<hr class="half-rule">
		<div class="row featurette">

			<div class="col-md-8">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XOTQyNTE4ODY0/v.swf">
					<img src="/img/video-poster-1.jpg" alt="MWbalanced1.0视频" class="img-responsive">
				</a>
			</div>

			<div class="col-md-4">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XNzYzNDg5NjA4/v.swf">
					<img src="/img/video-poster-2.jpg" alt="项目讲解" class="img-responsive">
				</a>

				<hr>

				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XNzU3MzQ4NzMy/v.swf">
					<img src="/img/video-poster-3.jpg" alt="倩影" class="img-responsive">
				</a>
			</div>
    </div>
</section>
