<section class="bg-primary" id="about">
    <div class="bs-docs-featurette" id="video">
		<div class="container">
		<h2 class="bs-docs-featurette-title">视频欣赏</h2>
		<p class="lead">很多小伙伴间接地参与了MWbalanced的机械构造、功能设计和控制体验等。<br>这里将其中的一部分精彩分享给大家。</p>

		<hr class="half-rule">
		<div class="row featurette">

			<div class="col-md-8">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XMTQ4OTIzMTA0MA==/v.swf">
					<img src="/img/MWbalancedSTC15-Github-公开课.jpg" alt="公开课" class="img-responsive">
				</a>
			</div>

			<div class="col-md-4">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XOTQyNTE4ODY0/v.swf">
					<img src="/img/MWbalancedSTC15-Github-演示视频.jpg" alt="演示视频" class="img-responsive">
				</a>

				<hr>

				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XMTQ0MTYwNzY4NA==/v.swf">
					<img src="/img/MWbalancedSTC15-Github-角度环.jpg" alt="角度环" class="img-responsive">
				</a>
			</div>
    </div>
</section>
