<section class="bg-primary" id="about">
    <div class="bs-docs-featurette" id="video">
		<div class="container">
		<h2 class="bs-docs-featurette-title">视频展示</h2>
		<p class="lead">这里展示微型四轴飞行器Littlebuzz和两轮自平衡小车MWbalanced的部分视频。</p>

		<hr class="half-rule">
		<div class="row featurette">

			<div class="col-md-8">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XMTQ4OTIzMTA0MA==/v.swf">
					<img src="/img/MWbalancedSTC15-Github-公开课.jpg" alt="公开课" class="img-responsive">
				</a>
			</div>

			<div class="col-md-4">
				<a class="fancybox-media" href="http://player.youku.com/player.php/sid/XOTQyNTE4ODY0/v.swf">
					<img src="/img/MWbalancedSTC15-Github-演示视频.jpg" alt="演示视频" class="img-responsive">
				</a>

				<hr>

				<a class="fancybox-media" href="http://cache.tv.qq.com/qqplayerout.swf?vid=e03231oq2p9">
					<img src="/img/MWbalancedSTC15-Github-角度环.jpg" alt="角度环" class="img-responsive">
				</a>
			</div>
    </div>
</section>
