<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<body id="page-top">
{% include nav.html %}

<div class="bs-docs-header" id="content">
  <div class="container">
    <h2 class="bs-docs-featurette-title">下载中心</h2>
    <p class="lead">开源项目的代码和原理图等都是公开分享的。<br>这里我们整理了在学习/研究/二次开发过程中需要用到的代码、资料等。</p>
  </div>
</div>

<div class="container">

    {{ content }}

</div>

<div class="col-lg-10 col-lg-offset-1 text-center">
		<hr class="small">
        <p class="text-muted">&copy; 20{{ site.time | date: '%y' }} {{ site.copyright }} All rights reserved. </p>
		<a href="http://www.miitbeian.gov.cn/">粤ICP备15014207号</a> 
</div>
{% include scripts.html %}

</body>

</html>