<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<body id="page-top">
{% include nav.html %}

<div class="bs-docs-header" id="content">
  <div class="container">
    <h2 class="bs-docs-featurette-title">MWbalanced试玩指南</h2>
  </div>
</div>

<div class="container">

    {{ content }}

</div>

<div class="col-lg-10 col-lg-offset-1 text-center">
		<hr class="small">
        <p class="text-muted">&copy; 20{{ site.time | date: '%y' }} {{ site.copyright }} All rights reserved. </p>
		<a href="http://www.miitbeian.gov.cn/">粤ICP备15014207号</a> 
</div>
{% include scripts.html %}

</body>

</html>